body{
    font-family: roboto;
    margin: 0;
    padding: 0;
}
 
/*             SECTION-1                */


.section1{
    background-color: #1f2937;
}
.header{
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding: 10px;
}
.logo{
    font-size: 24px;
    color: #f9faf8;
    justify-content: center;
    flex-grow: 1;
    font-weight: 900;
}
a{
    text-decoration: none;
    color: #e5e7eb;
}
.links{
    font-size: 18px;    
    display: flex;
    justify-content: end;
    flex-grow: 1;
    gap: 20px;
}

.upper-content{
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

.upper-content img{
    min-width: 400px;
    min-height: 200px;
    background-color: #8f96a0d2;
}

.text{
    display: flex;
    flex-direction: column;
}

.main{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    padding: 0;
    box-sizing:content-box;
    padding-bottom: 0.35em;

}

.subtext{
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    padding-bottom: 1em;
}
button{
    background-color: #3882f6;
    border: 0px;
    border-radius: 16%;
    padding: 5px 20px;
    color: #f9faf8;
    font-size: 18px;
    font-weight: 600;
}

/*              SECTION 2                   */

.section2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.head{
    align-self: center;
    font-size: 32px;
    font-weight: 800;
    color: #1f2937;
    padding: 40px;
}
.images{
    display: flex;
    gap: 40px;
    padding-bottom: 6em;
    justify-content: center;
}
.images img{
    min-height: 140px;
    min-width: 140px;
    max-width: min-content;
    border: 3px solid rgb(102, 102, 173);
    border-radius: 10%;
}
.image{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    max-width:min-content;
}

.sub2{
    display: flex;
    flex-wrap: wrap ;
    font-size: 16px;
    color: rgb(100, 100, 100);    
}


/*              SECTION 3                   */
.section3{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e5e7eb;
    padding: 100px 120px;
    box-sizing: border-box;
}
.quote{
    font-size: 32px;
    color: #1f2937;
    font-weight: 200;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.author{
    font-weight: 900;
    align-self:flex-end;
    padding-right: 10px;
}